@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(100, 21, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(69, 12, 184);
}

.row {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.nav__btn {
  display: none;
  background-color: transparent;
  border: none;
}

.container {
  margin: 0 3rem;
}

.purple {
  color: rgb(100, 21, 255);
}

h5 {
  text-transform: uppercase;
  font-size: 16px;
  color: rgb(100, 21, 255);
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0px 0px 16px;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  font-weight: 600;
  font-size: 14px;
  color: rgb(36, 62, 99);
  margin: 0 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
  transition: all 300ms ease;
  letter-spacing: 0.025em;
  padding-bottom: 3px;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

/* NAVIGATION BAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px auto;
}

.nav__logo--wrapper {
  display: flex;
  align-items: center;
  font-weight: 900;
  color: rgb(36, 62, 99);
  font-size: 24px;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 300ms ease;
}

.nav__logo--wrapper:hover {
  color: rgb(100, 21, 255);
}

.nav__logo {
  width: 2.5rem;
  margin-right: 8px;
}

.nav__link:hover {
  color: rgb(100, 21, 255);
  border-bottom: 2px solid rgb(100, 21, 255);
}

.nav__link--secondary {
  display: flex;
  margin-left: 48px;
  align-items: center;
}

.nav__link--secondary-purple {
  background-color: rgb(100, 21, 255);
  color: white;
  padding: 12px 32px;
  border-radius: 9999px;
}

.nav__link--secondary-purple:hover {
  background-color: rgb(69, 12, 184);
}

/* HEADER */

header .row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0px 6rem 0px;
}

.header__description {
  width: 40%;
}

.header__title {
  font-size: 48px;
  color: rgb(26, 32, 44);
}

.header__para {
  font-size: 18px;
  color: rgb(36, 62, 99);
  margin: 32px 0;
  line-height: 24px;
}

.header__input--wrapper {
  margin: 40px 0;
}

.customers__wrapper {
  margin-top: 80px;
}

.customers__para {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.6px;
  color: rgb(160, 174, 192);
}

.customers__img {
  width: 80%;
  opacity: 0.5;
  margin-top: 16px;
}

.header__img--wrapper {
  width: 60%;
}

.header__img {
  width: 100%;
}

.header__input--wrapper {
  position: relative;
  max-width: 28rem;
}

.header__input {
  padding: 20px 192px 20px 32px;
  border-radius: 9999px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
  font-size: 100%;
  transition: all 300ms ease;
  outline: none;
  width: 100%;
}

.header__input:hover {
  border-color: rgb(160, 174, 192);
}

.header__input:focus {
  border-color: rgb(100, 21, 255);
}

::placeholder {
  font-weight: 500;
  color: rgb(215, 216, 216);
}

.header__btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 10rem;
  margin: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(100, 21, 255);
  color: white;
  border: none;
  border-radius: 9999px;
  font-weight: 700;
  font-size: 100%;
  margin-right: 8px;
  cursor: pointer;
  transition: all 300ms ease;
}

.header__btn:hover {
  background-color: rgb(69, 12, 184);
}

/* FEATURES */

#features .row {
  padding: 6rem 0px 6rem 0px;
  text-align: center;
}

#features h1 {
  font-weight: 900;
  color: #243e63;
  font-size: 48px;
}

#features p {
  font-size: 18px;
  max-width: 36rem;
  margin: 0 auto;
  color: #7c8ba1;
  font-weight: 500;
  margin-top: 16px;
  line-height: 1.625;
  margin-bottom: 2.5rem;
}

.services__outer--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services__wrapper {
  width: 33.3333%;
  max-width: 24rem;
}

.services {
  display: flex;
  align-items: flex-start;
  text-align: left;
  margin: 0px 1rem;
  padding: 2rem 0.5rem;
}

.imageContainer {
  border: 1px solid rgb(226, 232, 240);
  text-align: center;
  border-radius: 9999px;
  flex-shrink: 0;
  padding: 20px;
}

.imageContainer img {
  height: 1.5rem;
  width: 1.5rem;
  max-width: 100%;
  display: block;
}

.textContainer {
  margin-left: 1rem;
  margin-top: 0.5rem;
  max-width: 200px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.025em;
  color: #243e63;
}

#features .description {
  margin: 16px 0px 0px;
  font-size: 16px;
  line-height: 2;
}

/* QUALITY */

#quality h1 {
  font-weight: 900;
  color: #243e63;
  font-size: 48px;
  margin-top: 1rem;
  line-height: 1.25;
  max-width: 600px;
}

#quality p {
  font-size: 18px;
  margin-top: 16px;
  margin-top: 1rem;
  font-weight: 500;
  line-height: 1.625;
  color: #7c8ba1;
}

#quality .row {
  padding: 6rem 0px 6rem 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#quality button {
  margin-top: 2rem;
  background-color: rgb(100, 21, 255);
  border: none;
  color: white;
  font-size: 0.875rem;
  padding: 12px 32px;
  border-radius: 9999px;
  font-weight: 700;
  cursor: pointer;
  transition: all 300ms ease;
}

#quality button:hover {
  background-color: rgb(69, 12, 184);
}

#quality .description {
  width: 50%;
  margin-right: 4rem;
}

#quality figure {
  width: 50%;
}

#quality img {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}

/* STEPS */

#steps .row {
  display: flex;
  padding: 6rem 0px 6rem 0px;
  align-items: center;
  justify-content: space-between;
}

#steps h1 {
  font-weight: 900;
  color: #243e63;
  font-size: 48px;
  margin-top: 1rem;
  line-height: 1.25;
  max-width: 600px;
}

#steps .description {
  margin-left: 3rem;
  width: 40%;
}

.steps__wrapper {
  display: flex;
  margin-top: 2rem;
}

.steps__number {
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
  color: rgb(203 213 224);
}

.steps__description--wrapper {
  margin-top: 3rem;
}

.steps__description {
  margin-left: 24px;
}

.steps__description--title {
  font-size: 20px;
  color: #243e63;
  font-weight: 600;
  line-height: 1;
}

#steps p {
  margin-top: 12px;
  max-width: 20rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  color: rgb(113 128 150);
}

#steps figure {
  width: 50%;
}

#steps img {
  width: 100%;
}

/* VALUES */

#values .row {
  display: flex;
  padding: 6rem 0px 6rem 0px;
  align-items: center;
  justify-content: center;
}

#values h1 {
  font-weight: 900;
  color: #243e63;
  font-size: 48px;
  margin-top: 1rem;
  line-height: 1.25;
  max-width: 500px;
}

#values p {
  font-size: 18px;
  font-weight: 500;
  color: rgb(124 130 161);
  margin-top: 32px;
  line-height: 1.625;
}

#values figure {
  width: 50%;
}

#values img {
  width: 100%;
}

#values .description {
  width: 50%;
}

.values__title--wrapper {
  display: flex;
  align-items: center;
}

.values__description--wrapper {
  margin-top: 32px;
  display: flex;
}

.values__description {
  margin-right: 32px;
}

.values__affordable--logo {
  background-color: rgb(154 230 180);
  color: rgb(39 103 73);
  padding: 0.5rem;
  border-width: 0px;
  border-radius: 9999px;
  display: inline-block;
  flex-shrink: 0;
}

.values__professionalism--logo {
  background-color: rgb(254 178 178);
  color: rgb(155 44 44);
  padding: 0.5rem;
  border-width: 0px;
  border-radius: 9999px;
  display: inline-block;
  flex-shrink: 0;
}

.feather-dollar-sign {
  height: 1.25rem;
  width: 1.25rem;
  display: block;
}

.feather-briefcase {
  height: 1.25rem;
  width: 1.25rem;
  display: block;
}

.values__affordable--title {
  font-size: 20px;
  font-weight: 700;
  margin-left: 0.75rem;
  color: rgb(36, 62, 99);
}

#values .values__para {
  text-align: left;
  margin-top: 1rem;
  color: rgb(113 128 150);
  line-height: 1.625;
  font-size: 16px;
  font-weight: initial;
  max-width: 280px;
}

#values button {
  margin-top: 3rem;
  background-color: rgb(100, 21, 255);
  border: none;
  color: white;
  font-size: 0.875rem;
  padding: 12px 32px;
  border-radius: 9999px;
  font-weight: 700;
  cursor: pointer;
  transition: all 300ms ease;
}

#values button:hover {
  background-color: rgb(69, 12, 184);
}

/* PRICING */

#pricing .row {
  padding: 6rem 0px 6rem 0px;
  text-align: center;
}

#pricing h1 {
  font-weight: 900;
  color: #243e63;
  font-size: 48px;
}

#pricing p {
  font-size: 18px;
  max-width: 36rem;
  margin: 0 auto;
  color: #7c8ba1;
  font-weight: 500;
  margin-top: 16px;
  line-height: 1.625;
  margin-bottom: 2.5rem;
}

.pricing__personal--wrapper {
  display: flex;
  justify-content: space-between;
}

.pricing__personal {
  margin-right: 2rem;
  margin-top: 4rem;
  position: relative;
  display: flex;
  width: 100%;
  max-width: 24rem;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem 2rem 0 2rem;
  color: rgb(26 32 44);
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.pricing__personal--header {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.625;
}

.pricing__personal--detail {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.pricing__personal--title {
  font-weight: 700;
  font-size: 1.25rem;
}

.pricing__personal--price {
  font-size: 48px;
  margin: 4px 0;
  font-weight: 700;
}

.pricing__personal--duration {
  color: rgb(160 174 192);
  letter-spacing: 0.1em;
  font-weight: 700;
}

.pricing__personal--details {
  display: flex;
  flex-direction: column;
  border-top: 2px solid rgb(226, 232, 240);
  border-bottom: 2px solid rgb(226, 232, 240);
  padding: 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
}

.pricing__personal--details--title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.025rem;
  margin-top: 0px;
}

.pricing__personal--details--subtitle {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(113 128 150);
}

.pricing__personal__btn--wrapper {
  padding: 32px 64px;
}

.pricing__personal__btn {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  width: 100%;
  border: none;
  border-radius: 9999px;
  color: rgb(247 250 252);
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  transition: all 300ms ease;
}

.pricing__personal__btn:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.pricing__business {
  margin-right: 2rem;
  margin-top: 4rem;
  position: relative;
  display: flex;
  width: 100%;
  max-width: 24rem;
  flex-direction: column;
  border-radius: 0.5rem;
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  padding: 0.5rem 2rem 0 2rem;
  color: white;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.pricing__business--header {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.625;
}

.pricing__business--title {
  font-weight: 700;
  font-size: 1.25rem;
}

.pricing__business--price {
  font-size: 48px;
  margin: 4px 0;
  font-weight: 700;
}

.pricing__business--duration {
  letter-spacing: 0.1em;
  font-weight: 700;
}

.pricing__business--details {
  display: flex;
  flex-direction: column;
  border-top: 2px solid rgb(102 126 234);
  border-bottom: 2px solid rgb(102 126 234);
  padding: 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
}

.pricing__business--details--title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.025rem;
  margin-top: 0px;
}

.pricing__business--details--subtitle {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(226 232 240);
}

.pricing__business__btn--wrapper {
  padding: 32px 64px;
}

.pricing__business__btn {
  background: rgb(247 250 252);
  width: 100%;
  border: none;
  border-radius: 9999px;
  color: rgb(100 21 255);
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: all 300ms ease;
  cursor: pointer;
}

.pricing__business__btn:hover {
  transform: scale(1.01);
  background-color: #e4e4e4;
  color: #1c157a;
}

.pricing__enterprise {
  margin-right: 2rem;
  margin-top: 4rem;
  position: relative;
  display: flex;
  width: 100%;
  max-width: 24rem;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem 2rem 0 2rem;
  color: rgb(26 32 44);
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.pricing__enterprise--detail {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.pricing__enterprise--header {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.625;
}

.pricing__enterprise--title {
  font-weight: 700;
  font-size: 1.25rem;
}

.pricing__enterprise--price {
  font-size: 48px;
  margin: 4px 0;
  font-weight: 700;
}

.pricing__enterprise--duration {
  color: rgb(160 174 192);
  letter-spacing: 0.1em;
  font-weight: 700;
}

.pricing__enterprise--details {
  display: flex;
  flex-direction: column;
  border-top: 2px solid rgb(226, 232, 240);
  border-bottom: 2px solid rgb(226, 232, 240);
  padding: 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
}

.pricing__enterprise--details--title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.025rem;
  margin-top: 0px;
}

.pricing__enterprise--details--subtitle {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(113 128 150);
}

.pricing__enterprise__btn--wrapper {
  padding: 32px 64px;
}

.pricing__enterprise__btn {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  width: 100%;
  border: none;
  border-radius: 9999px;
  color: rgb(247 250 252);
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: all 300ms ease;
  cursor: pointer;
}

.pricing__enterprise__btn:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

#testimonials .row {
  display: flex;
  padding: 6rem 0px 6rem 0px;
  align-items: center;
  justify-content: center;
}

.star__wrapper {
  margin-bottom: 20px;
}

.star {
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  fill: rgb(246, 173, 85);
}

.testimonials__title--up {
  font-size: 1.25rem;
  font-weight: 700;
  color: rgb(36, 62, 99);
}

.testimonials__title--down {
  font-size: 1.25rem;
  font-weight: 700;
  color: rgb(36, 62, 99);
  line-height: 30px;
}

#testimonials figure {
  width: 50%;
}

#testimonials img {
  width: 100%;
}

#testimonials .description {
  width: 50%;
  padding-left: 64px;
}

#testimonials h1 {
  font-weight: 900;
  color: #243e63;
  font-size: 48px;
  letter-spacing: 0.025em;
}

.testimonials__para {
  margin-bottom: 2.5rem;
  margin-top: 16px;
  font-weight: 500;
  color: rgb(74 85 104);
  line-height: 1.625;
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.profile__details--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1.5rem;
  text-align: left;
}

.description__para {
  margin-top: 1.5rem;
  font-size: 18px;
  color: #7c8ba1;
  line-height: 1.625;
  font-weight: 500;
}

.profile__img {
  display: block;
  height: 5rem;
  width: 5rem;
  border-radius: 9999px;
  max-width: 100%;
}

.testimonials__description {
  margin-top: 2.5rem;
}

.profile__details {
  font-weight: 500;
  color: rgb(124 139 161);
}

#faqs .row {
  padding: 6rem 0px 6rem 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faqs__list--wrapper {
  position: relative;
  margin-top: 3rem;
  max-width: 56rem;
  margin: 0 auto;
}

.faqs__list {
  padding: 1rem 2.5rem;
  margin-top: 1.25rem;
  cursor: not-allowed;
  border-radius: 0.5rem;
  background-color: rgb(237 242 247);
  color: rgb(45 55 72);
  transition: all 300ms ease;
}

.faqs__list:hover {
  background-color: rgb(216, 220, 226);
}

.faqs__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faqs__text__para {
  font-size: 20px;
  font-weight: 600;
}

.feather-chevron-down {
  height: 1.5rem;
  width: 1.5rem;
  display: block;
}

#getstarted .row {
  padding: 6rem 0px 12rem 0px;
}

.getstarted--wrapper {
  padding: 6rem 0;
  background-color: rgb(100 21 255);
  position: relative;
  border-radius: 0.5rem;
}

.getstarted {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  flex-direction: row;
  text-align: left;
  justify-content: center;
}

.getstarted__text--wrapper {
  width: 50%;
  max-width: 32rem;
}

.getstarted__text {
  font-size: 30px;
  color: rgb(247 250 252);
  text-transform: none;
  margin: 0;
  letter-spacing: normal;
}

.getstarted__btns {
  margin-top: 0px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  width: 50%;
  max-width: 32rem;
}

.getstarted_btn {
  margin-top: 0px;
  background-color: rgb(245 101 101);
  color: rgb(247 250 252);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 1.25rem 2.5rem;
  margin-right: 2rem;
  width: auto;
  border-radius: 9999px;
  border-width: 1px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.025rem;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.getstarted_btn:hover {
  background-color: rgb(245, 39, 39);
}

.contact__btn {
  margin-top: 0px;
  background-color: transparent;
  color: rgb(247 250 252);
  padding: 1.25rem 2.5rem;
  margin-right: 2rem;
  width: auto;
  border-radius: 9999px;
  border-width: 1px;
  border-color: rgb(247 250 252);
  border-style: solid;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.025rem;
  text-decoration: none;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.contact__btn:hover {
  background-color: #fff;
  color: rgb(100 21 255);
}

.footer__row {
  padding: 6rem 0;
  position: relative;
  background-color: rgb(100 21 255);
  padding: 5rem 2rem;
  color: rgb(247 250 252);
}

.footer__content--wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1300px;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  margin-top: -3rem;
  justify-content: space-between;
  text-align: left;
  flex-direction: column;
}

.footer__text {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

#footer h5 {
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.footer__text--wrapper {
  display: inline-block;
}

#footer ul {
  margin-top: 1.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  list-style-type: none;
}

.footer__img--wrapper {
  display: flex;
  align-items: center;
}

#footer .footer__text--wrapper a {
  margin-left: 0px;
  padding-bottom: 5px;
  border-radius: 1px;
  border-bottom: 2px solid transparent;
  transition: all 300ms ease;
}

#footer .footer__text--wrapper a:hover {
  border-bottom: 2px solid white;
}

.footer__img {
  width: 2rem;
  max-width: 100%;
  display: block;
  align-items: center;
}

#footer .footer__text--logo {
  margin-bottom: 0px;
  margin-left: 8px;
  text-transform: initial;
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: rgb(247 250 252);
}

#footer li {
  margin-top: 0.75rem;
}

#footer a {
  text-decoration: none;
  color: white;
}

.footer__divisor {
  margin: 4rem 0;
  width: 100%;
  border-bottom: 2px solid rgb(116 44 255);
}

.footer__credits {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.socials__wrapper {
  margin-top: 0px;
  display: flex;
}

#footer .socials__wrapper a {
  margin-right: 16px;
  margin-left: 0px;
  cursor: pointer;
  border-radius: 9999px;
  background-color: rgb(247 250 252);
  padding: 0.5rem;
  color: rgb(26 32 44);
}

#footer .socials__wrapper a:hover {
  background-color: #e7e7e7;
}

#footer .socials__wrapper a:nth-child(3) {
  margin-right: 0px;
}

.socials__wrapper svg {
  height: 1rem;
  width: 1rem;
  display: block;
}

.mobile__nav--content {
  display: none;
}

@media (max-width: 1280px) {
  .header__title {
    font-size: 36px;
  }

  .header__para {
    font-size: 16px;
  }

  #header .row {
    justify-content: space-between;
  }

  #header figure {
    width: 50%;
  }

  .pricing__business__btn--wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .pricing__personal__btn--wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .pricing__enterprise__btn--wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .getstarted__btns {
    width: 80%;
  }
}

@media (max-width: 1065px) {
  #header ul {
    display: none;
  }

  #header .mobile__nav {
    display: initial;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }

  .mobile__nav--content.active {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    margin: 0px;
    display: block;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
  }

  .mobile__nav--content {
    display: none;
  }

  .mobile__nav--wrapper {
    background-color: #fff;
    border: 1px solid rgb(230, 230, 230);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    margin: 1.5rem 1rem;
    position: relative;
  }

  .mobile__nav {
    display: flex;
    flex-direction: column;
    display: inline-block;
  }

  .mobile__nav--links {
    margin: 24px 0px;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.025em;
    cursor: default;
    transition: all 300ms ease;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
  }

  .mobile__nav--links:hover {
    color: #6415ff;
    border-color: #6415ff;
  }

  .mobile__nav--links:first-child {
    margin-top: 0px;
  }

  .mobile__nav--links:nth-child(6) {
    background-color: #6415ff;
    color: white;
    border-radius: 9999px;
    padding: 12px 32px;
  }

  .mobile__nav--links:nth-child(6):hover {
    background-color: #5012ce;
  }

  .close-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    padding: 20px;
    right: 0;
    top: 0;
    cursor: pointer;
  }

  .close-icon {
    transition: all 300ms ease;
  }

  .close-icon:hover {
    stroke: #6415ff;
  }

  .nav__btn {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .hamburguer__btn {
    transition: all 300ms;
  }

  .hamburguer__btn:hover {
    stroke: #6415ff;
  }

  #header .row {
    flex-direction: column;
    align-items: center;
  }

  #header h1 {
    font-size: 30px;
  }

  #header input {
    display: block;
  }

  .header__description {
    max-width: 50rem;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__input--wrapper {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .header__para {
    max-width: 35rem;
    margin: 0 auto;
    margin: 20px 0px;
  }

  .customers__para {
    font-size: 14px;
  }

  .customers__wrapper {
    margin-top: 48px;
  }

  .header__img--wrapper {
    width: 100%;
  }

  .header__img {
    margin-top: 50px;
    width: 100%;
    max-width: 32rem;
  }

  #features p {
    font-size: 16px;
  }

  .services__wrapper {
    width: 50%;
  }

  #quality h1 {
    font-size: 34px;
  }

  #quality p {
    font-size: 16px;
  }

  #steps h1 {
    font-size: 34px;
  }

  #values h1 {
    font-size: 34px;
  }

  #values p {
    font-size: 16px;
  }

  .values__description--wrapper {
    flex-direction: column;
  }

  .values__description {
    margin-top: 40px;
  }

  #pricing p {
    font-size: 16px;
  }

  .pricing__personal--wrapper {
    flex-direction: column;
    align-items: center;
  }

  #testimonials h1 {
    font-size: 34px;
  }

  #testimonials p {
    font-size: 16px;
  }

  #testimonials .description {
    width: 60%;
  }

  #testimonials figure {
    width: 40%;
  }

  .getstarted {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .getstarted h5 {
    margin-bottom: 30px;
    line-height: 40px;
  }

  .getstarted_btn {
    padding: 16px 32px;
  }

  .getstarted__text--wrapper {
    max-width: 500px;
  }

  .getstarted__btns {
    width: initial;
  }

  .contact__btn {
    padding: 16px 32px;
  }

  .pricing__personal {
    margin: 0;
  }

  .pricing__business {
    margin-right: 0;
  }

  .pricing__personal {
    margin: 0;
  }

  .pricing__enterprise {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  #features p {
    font-size: 14px;
  }

  .services__wrapper {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  #quality .row {
    display: flex;
    flex-direction: column-reverse;
  }

  #quality figure {
    width: 70%;
  }

  #quality .description {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    width: 100%;
    margin-top: 50px;
  }

  #quality p {
    font-size: 14px;
    max-width: 32rem;
  }

  #quality h1 {
    font-size: 30px;
  }

  #steps .row {
    display: flex;
    flex-direction: column;
  }

  #steps figure {
    width: 70%;
  }

  #steps .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 0px;
    width: 100%;
    margin-top: 4rem;
  }

  .steps__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .steps__description {
    margin-top: 12px;
  }

  .steps__description--wrapper {
    margin-top: 1rem;
  }

  .steps__description {
    margin-left: 0px;
  }

  #values .row {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  #steps h1 {
    font-size: 30px;
  }

  #values .description {
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }

  #values figure {
    width: 70%;
  }

  #values h1 {
    margin-right: 0px;
    max-width: 80%;
    margin: 0 auto;
    font-size: 30px;
  }

  #values p {
    font-size: 14px;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
  }

  .values__description {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
  }

  .values__title--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #values .values__para {
    text-align: center;
    max-width: 350px;
  }

  .values__description--wrapper {
    margin-top: 0px;
  }

  #pricing p {
    font-size: 14px;
  }

  .pricing__personal {
    margin: 0;
  }

  #testimonials .row {
    flex-direction: column;
  }

  #testimonials .description {
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding-left: 0px;
    max-width: 28rem;
  }

  #testimonials h1 {
    font-size: 30px;
  }

  #testimonials p {
    font-size: 14px;
  }

  #testimonials .testimonials__para {
    font-size: 16px;
  }

  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile__details--wrapper {
    margin-left: 0px;
    margin-top: 10px;
  }

  #testimonials figure {
    width: 70%;
  }

  .faqs__text__para {
    font-size: 16px;
    text-align: left;
  }

  .getstarted--wrapper {
    padding: 3rem 0;
  }

  .getstarted {
    padding: 0;
  }

  .getstarted__text {
    width: 100%;
    min-width: 100%;
  }

  .footer__credits {
    display: flex;
    flex-direction: column;
  }

  #footer p {
    margin-top: 32px;
  }

  .socials__wrapper {
    margin-top: 32px;
  }
}

@media (max-width: 680px) {
  .header__input {
    position: initial;
    background-color: transparent;
  }

  .header__btn {
    position: static !important;
    width: 100%;
    padding: 1rem 0;
    margin-right: 0px;
    min-width: 100%;
  }

  ::placeholder {
    z-index: 3;
  }

  #header figure {
    width: 100%;
    text-align: center;
  }

  .header__img {
    width: 100%;
  }

  .customers__img {
    width: 100%;
  }

  .header__input {
    padding-right: 0px;
    width: 100%;
    min-width: 220px;
  }

  .header__input--wrapper {
    width: 100%;
  }

  .header__description {
    width: 100%;
  }

  #features h1 {
    font-size: 36px;
  }

  .services {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .textContainer {
    margin-left: 0px;
    margin-top: 1rem;
  }

  #pricing h1 {
    font-size: 36px;
  }

  .pricing__personal--price {
    font-size: 36px;
  }

  .pricing__enterprise--price {
    font-size: 36px;
  }

  .pricing__business--price {
    font-size: 36px;
  }

  .profile__img {
    height: 4rem;
  }

  .getstarted__btns {
    display: flex;
    flex-direction: column;
  }

  .getstarted__text {
    font-size: 24px;
  }

  .getstarted_btn {
    margin: 0;
    font-size: 14px;
    padding: 12px 24px;
  }

  .contact__btn {
    margin: 0;
    font-size: 14px;
    padding: 12px 24px;
    margin-top: 16px;
  }

  .footer__text--wrapper {
    text-align: center;
  }

  #footer ul {
    align-items: center;
  }

  #footer .footer__text--wrapper a {
    margin: 0;
  }

  #steps figure {
    width: 100%;
  }

  #values figure {
    width: 100%;
  }

  #quality figure {
    width: 100%;
  }

  #testimonials figure {
    width: 100%;
  }

  .footer__credits {
    width: 100%;
  }

  .footer__text {
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    flex-direction: row;
  }

  .footer__text--wrapper {
    margin-top: 20px;
  }

  #getstarted {
    display: none;
  }

  #header .container {
    margin: 0 2rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}